In [2]:
import pandas as pd
import numpy as np

In [10]:
df=pd.read_csv(r"C:\Users\VINAYAK\Projects\Insurance_Premium_Prediction\insurance\artifact\data_ingestion\2022-12-08-20-06-13\raw_data\insurance.csv")
df

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [4]:
df.dtypes.index,df.dtypes.values

(Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'expenses'], dtype='object'),
 array([dtype('int64'), dtype('O'), dtype('float64'), dtype('int64'),
        dtype('O'), dtype('O'), dtype('float64')], dtype=object))

In [5]:
data_type = list(map(lambda x:str(x).replace("dtype('","").replace("')","") ,df.dtypes.values))

In [6]:

column=df.columns

In [9]:
dict(zip(column,data_type))

{'age': 'int64',
 'sex': 'object',
 'bmi': 'float64',
 'children': 'int64',
 'smoker': 'object',
 'region': 'object',
 'expenses': 'float64'}